
{% extends 'partials/modelo.html' %}
{% block content %}

{% load crispy_forms_tags %}


     <main id="main" class="main">

    <div class="pagetitle" >
    <h1>Adicionar Gasto Variável</h1><a href="{% url 'index' %}">Voltar</a>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>
    </div><!-- End Page Title -->

  </main><!-- End #main -->
    <div class="container">
{% endblock %}