
{% extends 'partials/modelo.html' %}
{% block content %}

{% load crispy_forms_tags %}


     <main id="main" class="main">

    <div class="pagetitle" >
        <h1>Gastos Fixos</h1><br><br>
              <!-- Small tables -->
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Data de Pagamento</th>
                    <th scope="col">Banco Pagador</th>
                    <th scope="col">Forma de Pagamento</th>
                  </tr>
                </thead>
                <tbody>
                    {% for g in gastos_fixos_todos %}
                  <tr>
                    <td><a href="{% url 'edit_gastos_fixo' pk=g.id %}">{{ g.titulo }}</a> </td>
                    <td>{{g.dia_pagamento}}</td>
                    <td>{{g.bancoPagador}}</td>
                    <td>{{g.formaPagamento}}</td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End small tables -->

        <div>
            <a href="{% url 'novo_gastos_fixo' %}" >Adicionar Gasto Fixo</a>
        </div>
    </div><!-- End Page Title -->

  </main><!-- End #main -->
{% endblock %}